/* ========================= */
/* TMN BRAND STYLE GUIDE */
/* ========================= */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;600;700&display=swap');


/* ========================= */
/* RESET */
/* ========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: "Poppins", sans-serif;
    background: #050505;
    color: #f5f5f5;
    line-height: 1.6;
}


img {
    width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}


/* ========================= */
/* HERO SECTION */
/* ========================= */

.hero {
    min-height: 100vh;
    background:
    linear-gradient(
        rgba(0,0,0,.65),
        rgba(0,0,0,.85)
    ),
    url("../images/ashelic-hero.PNG");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}


/* ========================= */
/* NAVIGATION */
/* ========================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}


.logo {
    width: 200px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}



.nav-bar {
    display: flex;
    gap: 40px;
}

.nav-bar a {
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .3s;
}

.nav-bar a:hover {
    color: #8b0000;
}

/* ========================= */
/* HERO TEXT */
/* ========================= */

.text {
    max-width: 650px;
    margin: auto 0;
    padding-left: 70px;
    padding-bottom: 120px;
}

.text h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.text h3 {
    color: #b30000;
    font-size: 1.5rem;
    margin: 15px 0;
}

.text p {
    max-width: 500px;
    margin-bottom: 35px;
}

/* ========================= */
/* BUTTONS */
/* ========================= */


.button {
    display: inline-block;
    padding: 15px 35px;
    background: #8b0000;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    transition: .3s;
}

.button:hover {
    background: #d00000;
    transform: translateY(-5px);
}

/* ========================= */
/* PROJECTS */
/* ========================= */


#projects {
    padding: 100px 70px;
}

#projects h2,
#about h2,
#contact h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 25px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.project-card {
    background: #111;
    padding: 25px;
    border: 1px solid #330000;
    border-radius: 10px;
    transition: .3s;

}

.project-card:hover {
    transform: translateY(-10px);
    border-color: #8b0000;
}

.project-card img {
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-card h3 {
    margin-bottom: 15px;
    color: #b30000;
    background: #000;
    background-size: 6px 4px;
    padding: 6px 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.project-card p {
    margin-bottom: 25px;
}

.project-card span {
    color: #b30000;
}

/* ========================= */
/* BLENDER GALLERY */
/* ========================= */


.blender-gallery {
    display: grid;
    grid-template-columns: repeat (3,1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.blender-gallery img {
    height: 150px;
    object-fit: contain;
}

/* ========================= */
/* ABOUT */
/* ========================= */


#about {
    padding: 70px 70px;
    background: #0b0b0b;
    text-align: center;
    font-size: 22px;
}
#about h2 {
    padding: 20px;
}
#about h6 {
    padding: 20px;
    font-size: 18px;
}

/* ========================= */
/* CONTACT */
/* ========================= */

#contact {
    padding: 40px 20px;
    text-align: center;
    font-size: 16px;
}

#contact p {
    padding: 20px;
}

#contact a {
    margin: 15px 20px;
    color: #b30000;
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer {
    text-align: center;
    padding: 30px;
    background: #000;
}

/* ========================= */
/* MOBILE */
/* ========================= */


@media(max-width:768px){

.navbar {
    flex-direction: column;
    gap: 20px;
}

.nav-bar {
    flex-direction: column;
    text-align: center;
}

.text {
    padding: 40px;
}

.text h1 {
    font-size: 4rem;
}

.project-container {
    grid-template-columns: 1fr;
}
}