* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #050505;
    color: white;
    background-color: black;
}

/* Gallery section */
.mini-gallery {
    width: 85%;
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
}

.mini-gallery h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

/* Stack images vertically */
.gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

/* Individual images */
.gallery-grid img {
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    background: #111;
    padding: 20px;
}

.btn {
    margin: 0 25px 25px;
    align-self: flex-start;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    margin-top: 40px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #b30000;
    color: white;
}