* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    color: #222;
    line-height: 1.7;
}

img {
    max-width: 100%;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #111;
}

nav h2 {
    color: bisque;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: bisque;
    text-decoration: none;
}

.hero {
    height: 70vh;
    background-image: url("../images/bookmockup.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 70px 0;
}

.hero-text {
    background: rgba(0, 0, 0, 0.782);
    padding: 40px;
    color: white;
    border-radius: 10px;
    font-size: 22px;
}

.hero h1 { 
    font-size: 4rem;
    margin-bottom: 15px;
}

section {
    margin-bottom: 80px;
}

section h2 {
    margin-bottom: 30px;
    text-align: center;
}

section p {
    margin-bottom: 20px;
}

span {
    font-weight: bold;
    font-style: italic;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 6px 8px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.gallery-2 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 6px 10px;
}

section img {
    max-width: 100%;
    height: auto;
}